
# Build data
libs/armeabi*
libs/x86
obj
bin
gen

# Private info
local.properties

# eclipse
.settings/

# Builds
*.apk

# VKontakte gives a shit when uploading APK
*.bin 

# Android Studio
build/
.gradle/
.idea/
.cxx/